.footer-container {
  background-color: rgb(18, 236, 164);
  padding: 40px;
  margin-top: 30px;
}
.footer_para {
  font-size: 36px;
  font-weight: 700;
}
.MuiBox-root.css-j7qwjs {
  position: fixed !important;
  bottom: 0 !important;
  z-index: 12222 !important;
  width: 100vw !important;
}
